<div id="form-container">
  <form method="post" action="/user/add">
    <div class="field-container">
      <label> Name </label>
      <input id="name" , name="name" , placeholder="Pls enter your name" />
    </div>
    <div class="field-container">
      <label> Email </label>
      <input id="email" , name="email" , placeholder="Pls enter your email" />
    </div>
    <div class="field-container">
      <label> Age </label>
      <input id="age" , name="age" , placeholder="Pls enter your age" />
    </div>
    <div class="field-container">
      <label> City </label>
      <input id="city" , name="city" , placeholder="Pls enter your city" />
    </div>
    <div class="field-container">
      <label> Profession </label>
      <input id="profession", name="profession",placeholder="Pls enter your profession"/>
    </div>
    <div id="button-container">
        <button type="submit">
            Add
        </button>
    </div>
  </form>
</div>

<!-- name, email, age, city, profession -->
